.row
  %h3= link_to (markdown_to_html topic.title), [topic], class: "link", id: "top-#{topic.to_param}"
  %p
    - bookmarks.each do |bookmark|
      = render partial: 'topics/shared/links', locals: { topic: topic, bookmark: bookmark }
