<h1 class='list-title' id="header-centered">Blocmarks Topics</h1>
<div class="container">
<ul class="nav nav-pills"> 
  <li>   
     <% if policy(Topic.new).create? %>
               <%= link_to new_topic_path do %>
                    <span class="glyphicon glyphicon-plus"></span> New Topic
               <%end %>
      <% end %>
  </li>
</ul>
  <% @topics.each do |topic| %>
   <%= render partial: 'topics/topic', locals: { topic: topic, bookmarks: topic.bookmarks } %>
  <% end %>   
</div>
