- if policy(Like.new).create?
  %li
    - if like = current_user.liked(bookmark)
      = link_to [bookmark, like], method: :delete, id: "unlk-#{bookmark.to_param}" do
        %span.glyphicon.glyphicon-star-empty
    - else
      = link_to [bookmark, Like.new], method: :post, id: "lk-#{bookmark.to_param}" do
        %span.glyphicon.glyphicon-star
