<div class="centered" id="rounded_box">
<br><br>
<p id="index-title"> <strong>Blocmark </strong> <br>
  Social Bookmarking With Email Integration <br>
 Build a production quality social bookmarking app that allows users to email, manage and share bookmarked URLs.
 </p>
</div>
